em{
    font-size: large;
}

p{
    text-indent: 100px;
    padding: 4px;
    border: 2px solid black;
}

p::selection {
    background: yellow;  /* change highlight color */
    color: red;          /* change text color */
  }
  